.result-bar-container {
    width: 80%;
    display: flex;
    height: 20vh;
    color: white;
    margin-top: 1rem;
    border-radius: .5rem;
    margin-left: 1rem;
    justify-content: space-between;
}
.search-information {
    padding: 1rem;
    border-radius: .25rem;
    width: 22%;
    flex-direction: column;
    background-color: rgb(5,32,60);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}
.source {
    display: flex;
    width: 100%;
}
.search-filter-container {
    background-color: rgb(0, 11, 23); 
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .25rem;
    cursor: pointer;
    padding-left: .5rem;
    padding-right: .5rem;
}

.custom-select {
    font-size: 15px;
    border: 1px solid #d1e2ff;
    padding: 5px;
    border-radius: 4px;
    width: 200px;
}