.results-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 08vh;
    background-color: #05203C;
    color: white;
}

.results-main {
    width: 100vw;
    min-height: calc(100vh - 08vh);
    color: black;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.result-main-wrapper {
    width: 85%;
    display: flex;
    gap: .5rem;
}