.results-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 08vh;
    background-color: #05203C;
    color: white;
}

.results-main {
    width: 100vw;
    min-height: calc(100vh - 08vh);
    color: black;
    background-color: rgb(238,241,242);
    display: flex;
    justify-content: center;
}
