.airplane-container {
    width: 98%;
    height: 100%;
    align-items: center;
    gap: 1rem;
    display: flex;
    overflow: hidden;
}
.image-container {
    width: 50%;
    height: 90%;
}
.search-bar-container {
    width: 50%;
    height: 90%;
}
.search-form {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.text-field {
    padding: .75rem;
    height: 60%;
    font-size: 1.15rem;
    width: 49%;
    outline: none; 
    border: none;
    border-radius: .25rem;
    transition: all 100ms;
}
.text-field:focus {
    border: 2px solid #65a30d;   
}
.plane-img {
    animation: animate_img 400ms 1 ease-in-out, normal_animation 10s 450ms infinite ease; 
}
.input-fields {
    margin-top: .5rem;
    height: 30%;
}
.radio label {
    color: white;
}

.submit-btn {
    width: 98%;
    height: 20%;
    border: none;
    border-radius: .25rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #020617;
    color: #ecfeff;
    outline: none;
    transition: all 250ms ease;
}
.submit-btn:hover {
    box-shadow: 2px 2px 0px 0px white; 
    transform: translateY(-4px);
}


@keyframes animate_img {
    0% {
        transform: translateX(100%) translateY(100%);
    } 100% {
        transform: translateX(0%) translateY(0%);
    }
}
@keyframes normal_animation {
    0% {
        transform: translateX(0%) translateY(0%);
    } 50% {
        transform: translateX(10%) translateY(10%);
    } 100% {
        transform: translateX(0%) translateY(0%);
    }
}