.second-search-container {
    width: 95%;
    color: white;
    letter-spacing: 1px;
}
.search-options {
    margin-top: 1rem;
    display: flex;
    width: 15.25%;
    justify-content: space-between;
}

.option {
    border: 1px solid white;
    padding: .5rem;
    border-radius: .25rem;
    cursor: pointer;
    font-size: .9rem;
    transition: all 150ms ease;
}

.search-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: .25rem;
    position: relative;
}
.option:hover {
    background-color: white;
    color: black;
}
.active {
    background-color: white;
    color: black;
}
.search-text-field-container {
    width: 18%;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    margin-top: .5rem;
    background-color: white;
    position: relative;
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.results-container {
    position: absolute;
    color: black;
    width: 18%;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, .4);
    top: 110%;
    background-color: white;
}
.left {
    left: 18.3%;
}
.search-text {
    border: none;
    outline: none;
    font-size: 1rem;
}
.results {
    padding: .5rem;
    transition: all 150ms ease;
}
.results:hover {
    background-color: #0e7490;
}

input[type="date"] {
    border: none;
    outline: none;
}
.border-right-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
}
.search-text-label {
    color: black;
    left: 10%;
    top: 10%;
    font-size: .85rem;
    color: #0e7490;
    font-weight: 400;
}

.no-border-radius {
    border-radius: 0;
}

.search-btn {
    width: 18%;
    margin-top: .5rem;
    border-radius: .4rem;
    border: none;
    height: 9vh;
    outline: none;
    background-color: #2563eb;  
    color: white;
    margin-left: 1rem;
}